# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6 

print(number)

6

##### Assinging float

In [4]:
numberFloat = 2.3
print(numberFloat)
print(numberFloat)
numberFloat = 7.2
print(numberFloat)

2.3
2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [11]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

result = result + 2
print(result)

7.4
7.4

##### Subtraction

In [15]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff -1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [18]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [22]:
result_div = num2/num1
print(result_div)

result_mul /= 2
print(result_div)

2.7
2.7

##### Floor Division

In [24]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [27]:
result_mod = 13 % 2
print(result_mod)

result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [29]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [35]:
name = 'Brandon'
print(name)

Brandon

##### print() <br>
<p>Don't forget about end=' '</p>

In [39]:
print("This is my first name:",name)

print("Full Name:", name, end=" Apol ")

This is my first name: Brandon
Full Name: Brandon Apol

##### String Concatenation

In [44]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

full_name += ", Jr"
print(full_name)

John Smith
John Smith, Jr

##### Type Conversion

In [48]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num + 1)

32
33

##### input()

In [52]:
# Input will always return a string

# name = input("What is your name?")
# print("Nice to meet you, " + name)

age = int(input("What is your age?: "))
add_age = age + 5
print(add_age)

What is your age?: 22
27

##### format()

In [55]:
age = input("What is your age? ")
result_string = "You are {} {} and you are getting wiser!".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

What is your age? 12
You are 12 Brandon and you are getting wiser!
12 is a great time in life!!!

##### Old Way (python 2)

In [56]:
result_string2 = "You are %s and you look great for your age" %age
print(result_string2)

You are 12 and you look great for your age

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [59]:
color = input("What color is your car? ")

year = input("What year is your car? ")

make = input("What make is your car? ")

model = input("What model is your car? ")

What color is your car? Blue
What year is your car? 2009
What make is your car? Hyundai
What model is your car? Accent

### If Statements

In [78]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 0

# if num1 == num2:
#     print("Equal Values")
# else:
#     print("Not Equal")
    
if num2 < num1 or num3 > 0:
    print("This ran!")
else:
    print("You are here")

You are here

 'is' keyword

In [83]:
# The "is" keyword is for checking for the same object, but not the same value

num3 = 55

if num3 == 55:
    print("This is the exact number/object")

This is the exact number/object

##### 'in' keyword

In [87]:
# Check if a character is in a string

char_name = "Frodo Baggins"

if "Frodo" in char_name:
    print("The ring bearer")

The ring bearer

##### 'not in' keyword'

In [89]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print('a is NOT here. . .')

a is NOT here. . .

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [ ]:
#Output: True --  if p is found
#False -- if p is NOT found

## Using 'and'/'or' with If Statements

In [102]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

    
# if with 'or' statemnt
if num_11 > num_12 and num_13 == num_14:
    print("True and False")

### Elif Statements

In [107]:
first_name = input('What is your name? ')

if first_name == 'Smith':
    print('The name is Smith.')
elif first_name == 'Brandon':
    print('The name is Brandon')
elif first_name != 'Max':
    print('The name is NOT Max')
else:
    print('The name is Max')

What is your name? Maggie
The name is NOT Max

### Else Statements

In [ ]:
# see above

### For Loops

In [111]:
#Syntax:
# for counter in keyword, condition 

name = "Maggie Storey"
print(name)

for letter in name:
    print(letter)

Maggie Storey
M
a
g
g
i
e

S
t
o
r
e
y

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [113]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [114]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [115]:
name = "Maggie Storey"

for i in name:
    pass

##### Double For Loops

In [117]:
for i in range(5):
    for j in range(5):
        print('i = ', 'j = ', j)

i =  j =  0
i =  j =  1
i =  j =  2
i =  j =  3
i =  j =  4
i =  j =  0
i =  j =  1
i =  j =  2
i =  j =  3
i =  j =  4
i =  j =  0
i =  j =  1
i =  j =  2
i =  j =  3
i =  j =  4
i =  j =  0
i =  j =  1
i =  j =  2
i =  j =  3
i =  j =  4
i =  j =  0
i =  j =  1
i =  j =  2
i =  j =  3
i =  j =  4

### While Loops

In [119]:
# Syntax: 
# While keyword, condition statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [132]:
#Don't try this in an interview

game_over = True

while game_over:
    print('Infinite Loop')
    user_input = input('Would you like to stop? ')
    if user_input == 'Yes':
        game_over = False

Infinite Loop
Would you like to stop? no
Infinite Loop
Would you like to stop? yes
Infinite Loop
Would you like to stop? no
Infinite Loop

KeyboardInterrupt: Interrupted by user

##### While & For Loops Used Together

In [ ]:
num = 0

while num < 5:
    print(*\n while loop ")

### Built-In Functions

##### range()

In [137]:
#range (start, stop, step)

for i in range(3, 20, 2):
    print(i)

3
5
7
9
11
13
15
17
19

##### len()

In [140]:
#name = input("Give me the name of your favorite book: ")

#length = len(name)
#print(length)

Give me the name of your favorite book: Lord of the Rings
17

##### help()

In [201]:
# Use this function to view more info about a python function

##### isinstance()

In [145]:
#Check a variable to find out what object family (or data type) it belongs to
# isinstance(var, type)

num = input("Pick a number")
if isinstance(num, int):
    print(f"{num} is an int")
else:
    print(f"{num} is a float!")

Pick a number7
7 is a float!

##### abs()

In [146]:
# |-5| = 5

print(abs(-5))

5

### Try and Except

In [153]:
# Use this to log out graceful and useful error messages
# Does not stop the program

try:
    number_test = 0
    input_num = int(input('Guess a number'))
    print('Your number is ' + str(input_num))
except:
    print("That didn't work! Change your input to a number!")

Guess a number5
Your number is 5

### Lists

##### Declaring Lists

In [155]:
list_1 = []

names = ['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']

##### Indexing a List

In [166]:
#[start: stop: step]

# Single_index
print(names[0])

# Print starting at index 1 going to the end
print(names[1:])

# Print starting at the beginning of a list up until a number
print(names[:2])

# Print starting at index 1 and going up BY 2 in each iteration
print(names[1::2])

# Print starting at the back and display in reverse order
print(names[::-1])

Max
['Cindy', 'Kathy', 'Bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'Bob']
['Nate', 'Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [184]:
names.append('Maggie')
print(names)

['Max', 'Cindy', 'Maggie', 'Maggie', 'Maggie', 'Maggie']

##### .insert()

In [174]:
names.insert(3, 'Devon')
print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'Bob', 'Nate', 'Maggie', 'Maggie', 'Maggie', 'Maggie', 'Maggie', 'Maggie']

##### .pop()

In [182]:
#Defaults to the last value if no parameter is given
# Pop returns the element that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)

Maggie
['Max', 'Cindy', 'Maggie', 'Maggie']


##### .remove()

In [187]:
# Value to be removed rather than index

# Remove multiple Maggies from list
while 'Maggie' in names:
    names.remove('Maggie')
print(names)

['Max', 'Cindy']

##### del()

In [188]:
# Goes by index, rather than value
# Be careful with del, it can cause indexing errors if not used carefully


del(names[1])
print(names)

['Max']

##### Concatenating Two Lists

In [193]:
# Will attpend two lists together, will NOT add the values

list_2 = [0, 1 , 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [191]:
# Lists can hold ANY type of other element: Including other lists
# They can go as deep as you want: This is called nested lists

names = ["Max", "Sam", "Josh", ["Sally", ["Sue", "Jim"], "Tameka"]]
print(names)
print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Sue

##### Looping Through Lists

In [200]:
# Two ways to loop through lists: one way is by index, other is by using the "in" keyword

# By index
for i in range(len(names)):
    print(names[i])

# Loop with "in"
for i in names:
    print(names)

Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [206]:
for i in range(1000):
    if i == 32:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [215]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break


for Number in range (1, 100):
    count = 0
    for i in range(2, (Number//2 + 1)):
        if(Number % i == 0):
            count = count + 1
            break

    if (count == 0 and Number != 1):
        print(" %d" %Number, end = ' ')

 2  3  5  7  11  13  17  19  23  29  31  37  41  43  47  53  59  61  67  71  73  79  83  89  97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [230]:
age = int(input('What is your age?'))
if age <= 18: 
        print('Kids')
if age <= 65:
        print('Adults')
else:
    print('Seniors')

What is your age?65
Adults